.DS_Store
.env
.env.*
!.env.example
node_modules/
dist/
coverage/
.dart_tool/
.flutter-plugins*
.packages
build/
mobile/android/.gradle/
mobile/android/local.properties
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/ephemeral/
*.iml
*.apk
*.aab
*.ipa
*.xcarchive
*.zip
*.tar
*.tar.gz
mobile/android/gradle/wrapper/gradle-wrapper.jar
